<header class="header">
  <div class="menu">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-sm-4 text-center">
          <a href="/">
            <img src="./assets/img/logo1.png" id="logo_home" class="img-responsive" alt="logo baies et vérandas">
            <!-- <img src="img/qualibat.jpg" >
              <div class="logo">
                <h2 class="plogo">Fabricant de verrières</h2>
                <h1>Verrières <span>De France</span></h1>
              </div> -->
          </a>
        </div>
        <div class="col-sm-8">
          <nav class="">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="">
                <li><a class="active" href="/">Accueil</a> </li>
                <li>
                  <a class="" href="{% link nos-verrieres.html %}">Nos verrières </a>
                </li>
                <li>
                  <a class="" href="{% link galerie.html %}">Nos réalisations </a>
                </li>
  
                <li>
                  <a class="" href="{% link contact.html %}"> Contact </a>
                </li>
                <li class="devis">
                  <a class="button" href="{% link devis.html %}">Estimation en ligne </a>
                </li>
                <!--  <li class=" hidden-xs "><a href="tel:01 85 53 89 77" class="button-phone"><i class="fa fa-phone" aria-hidden="true"></i> 0185538977</a>
              </li> -->
              </ul>
            </div>
          </nav>
          <!-- <div class="phone visible-xs text-center">
  <a href="tel:01 85 53 89 77" class="button-phone"><i class="fa fa-phone" aria-hidden="true"></i> 0185538977</a>
  </div> -->
        </div>
      </div>
    </div>
  </div>
</header>