<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include navbar.html %}

    {% if page.url == '/' %}
        {% include slider.html %}
    {% endif %}

    <div class="">
        {{ content }}
    </div>
    <div class="fixphone">
      <a href="tel:{{ site.data.company.phone}}" title="{{ site.data.company.phone}}" class="one phoneone"><i
          class="fas fa-phone-alt" aria-hidden="true"></i> &nbsp;{{ site.data.company.phone }}</a>
    </div>

    {% include footer.html %}
    <div id="fixphone">
      <a href="#" title="Up"><i class="fa fa-chevron-up"></i></a>
    </div>
  </body>
</html>